<div class="container">
  Hello, buddy! I'm up and running w/ bootstrap!
  <br/>
  <% @notes.each do |note| %>
    <%= note.content %>
  <% end %>
</div>

<%= link_to "Log out", destroy_user_session_path, :method => :delete %><br />