<p>Hello, buddy! I'm up and running w/ bootstrap!</p>

<br/>

<%= simple_form_for(@note, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.text_area :content, size: "80x5" %><br/>
  <%= f.button :submit %>
<% end %>

<br/>

<% @notes.each do |note| %>
  <%= note.content %>
<% end %>