<blockquote class="mainbq">
  <p>I've always wanted to to organize the various tasks I was hoping to take care of at some indeterminable point in the future. With To-Doer, now I can!</p>
  <footer>-Everyone</footer>
</blockquote>

<div class="center-block">
  <h1 class="text-center main-head">To-Doer</h1>
  <div class="text-center">
    <%= link_to "View My Notes", notes_path, :class => "btn-lg btn-primary btn-longer white", :typep => "button" %><br/><br/><br/>
    <%= link_to "Login", new_user_session_path, :class => "btn btn-primary white", :type => "button" %><span class="larger-1">&#160;&#160;&#160;&#160;|&#160;&#160;&#160;&#160;</span><%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary white", :type => "button" %>
  </div>
</div>