/*
*= require_self
*= require_tree .
*= require redactor-rails
*= require bootstrap-datepicker3
*/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lobster);

// navbar
.navbar-brand {
  font-family: 'Lobster', cursive;
}

.container {
  padding-bottom: 10px;
  margin-bottom: 20px;
}