// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

body {
  background-color: #F3F7EB;
}
.container
{
  background-color: white;
}
.note_container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid black;
  overflow: hidden;
  padding: 5px 8px 0px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #631573;
  display: inline-block;
}
.note_comp {
  box-shadow: .2em .3em .2em green;
}
.note_uncomp {
  box-shadow: .2em .3em .2em red;
}
.note_checkbox {
  float: right;
}
.note_date {
  text-align: left;
}
.note_submit {
  margin-bottom: 1em;
}
#manage {
  text-align: right;
  margin: 1em 1em 2em 0;
}
.full_wrapper
{
  width: 80%;
  margin: 0 auto;
}
.delete
{
  float: left;
  padding-right: 5px;
  padding-bottom: 10px;
  display: none;
}
.overdue {
  text-decoration: underline;
  /* Chrome, Safari, Opera */
  -webkit-animation: myfirst 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  /* Standard syntax */
  animation: myfirst 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@-webkit-keyframes myfirst {
  from {color: red;}
  to {color: orange;}  
}
@keyframes myfirst {
  from {color: red;}
  to {color: orange;}
}