.mainbq
{
  margin-top: 7%;
  padding-left: 3em;
  padding-right: 3em;
}
.white
{
  color: white;
}
.larger-1
{
  font-size: 1.6em;
}
.main-head
{
  font-family: 'Lobster', cursive;
  font-size: 4em;
  margin-bottom: .5em;
}
a:hover
{
  color: orange;
}
.center-block
{
  margin-bottom: 4em;
}